@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-boox;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #18316f;
}
.btn{
    position: absolute;
    top: 500px;
    left:auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #18316f;
    width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.btn:hover, btn:focus, btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn1{
    position: absolute;
    top: 30px;
    right:30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #18316f;
    width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.btn1:hover, btn1:focus, btn1:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.search{
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    background: #fff;
    box-shadow: 0 0 10 5px ;
    overflow: hidden;
}
.search.active{
    width: 360px;
}
.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #18316f;
    border: 3px solid ;
    border-radius: 50%;
    transform: translate(-4px,-4px);
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #18316f;
    transform: translate(6px,6px) rotate(315deg);
}
.search .input{
    position: relative;
    width: 300px;
    height: 50px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: navajowhite;
    font-size: 18px;
    padding: 10px 0;
}
.clear{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear::before{
    position: absolute;
    content:'';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}
.clear::after{
    position: absolute;
    content:'';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}